obj/*
bin/*

*.o
*.a
*.d
*.hex
*.map
*.elf
*.bin
.*.sw?
.*.pyc

.project
.cproject
.settings

compile_flags.txt
STM32F429zi_Discovery.xml

._*
.DS_Store
build
cmake-build-*
*.sublime-workspace
*.sublime-project

store.json
**/generated/
core

__pycache__
/scripts/generators/generated
/scripts/generators/scxmls

scripts/logdecoder/logdecoder
