[submodule "libs/miosix-kernel"]
	path = libs/miosix-kernel
	url = ../../scs/miosix-kernel.git
	branch = master
[submodule "libs/tscpp"]
	path = libs/tscpp
	url = https://github.com/fedetft/tscpp.git
[submodule "libs/mavlink_skyward_lib"]
	path = libs/mavlink_skyward_lib
	url = ../../scs/mavlink_skyward_lib.git
[submodule "libs/simple-template-matrix"]
	path = libs/simple-template-matrix
	url = https://github.com/fedetft/simple-template-matrix.git
[submodule "libs/eigen"]
	path = libs/eigen
	url = https://gitlab.com/libeigen/eigen.git
