obj/*
bin/*

*.o
*.a
*.d
*.hex
*.map
*.elf
*.bin
.*.sw?
.*.pyc

.project
.cproject
.settings
STM32F429zi_Discovery.xml

._*
.DS_Store
build
*.sublime-workspace
*.sublime-project

.vscode/*

store.json
*/generated/
core
