[submodule "libs/miosix-kernel"]
	path = libs/miosix-kernel
	url = ../../elc/miosix-kernel.git
	branch = master
[submodule "libs/tscpp"]
	path = libs/tscpp
	url = https://github.com/fedetft/tscpp.git
[submodule "mavlink_skyward_lib"]
	path = mavlink_skyward_lib
	url = ../mavlink_skyward_lib.git
